@import "tailwindcss";

body{
  display: flex;
  flex-direction: column;
 
}


.catalogo{
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:350px;
    border-radius: 10px;
}

.info{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 2, 29);
    border-radius: 5px;
}